*{
    margin: 0;
    padding: 0;
}
form [type="search"]{
    width: 40vw;
    margin-left: 300px;
}
 button{
    float: left;
   position: relative;
   left: 900px;
   bottom:39px;
}
button{
    margin-left: 30px;
    padding: 7px 30px;
    background-color: #233C7B;
    color: #fff;
    border:none;
    border-radius: 7px;
}
.logo img{
   position: relative;
   top: 40px;
   left: 70px;
}
.nav-item{
   position: relative;
   right: 200px;
    margin: 0px 15px;
}
.nav-item a{
    color: #233C7B;
}
.carousel-inner{
    height: 400px;
}
.carousel-inner img{ 
    height: 400px;
    object-fit: contain;
    object-position: right;
    background-color: #233C7B;
    z-index: -1; 
}
 .carousel-inner .carousel-item h2{
    color: #fff;
    font-size: 25px;
     /* z-index: 20; */
   position: absolute;
   top: 40px;
   bottom: 0;
   left: 85px;
 }
 .carousel-inner .carousel-item hr{
     width: 20vw;
     position: absolute;
     top: 60px;
     left: 85px;
     border: 2px solid #EA8E30;
 }
 
 .carousel-inner .carousel-item h1{
    position: absolute;
    top: 100px;
    left: 80px;
    color: #fff;
    font-size: 50px;
    width: 50vw;
 }

.carousel-inner .carousel-item p{
    position: absolute;
    top: 250px;
    left: 80px;
    color: #fff;
    font-size: 20px;
    width: 40vw;
}
 .carousel-item:nth-child(2) hr{
     margin-top: 45px;
     width: 13vw;
 }
 .carousel-item:nth-child(2) h1{
    font-size: 40px;
    margin-top: 23px;
}

.carousel-item:nth-child(3) hr{
    width: 10vw;
    margin-top: 42px;
}
.carousel-item:nth-child(3) h2{
    font-size: 24px;
}
.carousel-item:nth-child(3) h1{
    font-size: 50px;
    margin-top: 35px;
}
.feature h1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 700;
    color: #233C7B;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap:150px;
  margin-top: 50px;
}
.card{
    border: none;
}
.card img{
    width: 80%;
    margin-left: 25px;
}
.cards .card span{
    font-size: 40px;
    font-weight: 600;
    color: #233C7B;
    display: flex;
    justify-content: center;
}
.cards .card h2{
    width: 25vw;
    text-align: center;
    color: #454545;
}
.feature hr{
    border: 2px solid #EA8E30;
    width: 10vw;
    margin-left: 560px;
}
 .comp{
    height: 400px;
    background-color: #EEF0F5;
    margin-top: 50px;
}
.company .comp .header h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    color: #233C7B;
    position: relative;
    top: 100px;
}
.company-image{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}
